@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Text Styles */
.text-primary {
  color: theme("colors.primary");
}

.text-secondary {
  color: theme("colors.secondary");
}

.text-light {
  color: theme("colors.textLight");
}

.text-dark {
  color: theme("colors.textDark");
}

/* Global Background */
.bg-main {
  background-color: theme("colors.background");
}

/* Card Styling */
.card {
  @apply bg-cardBg rounded-lg shadow-custom-dark hover:shadow-custom-light transition-shadow;
}

/* Button Styling */
.btn {
  @apply px-4 py-2 rounded-lg text-white transition;
}

.btn-primary {
  @apply bg-primary hover:bg-red-600;
}
